/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	min-height: 100%;
}


/* Base Styles */
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #1a241c;
}

a { color: #0d8143 }
a:hover { color: #1a241c }

p {
	padding-top: 20px;
}
ul {
	list-style: none;
}
ul li {
	padding-top: 5px;
}

h2 {
	padding-top: 20px;
	color: #3a463c;
	font-weight: 600;
	font-size: 2rem;
}
h3 {
	padding-top: 30px;
	color: #7a887c;
	font-size: 1.5rem;
	font-weight: 400;
}
h3 + p { padding-top: 5px }

code, pre {
	display: inline-block;
	background: linear-gradient(to top left, rgba(116, 215, 66, 0.3), rgba(10, 193, 132, 0.3));
	border-radius: 4px;
	font-family: 'Cousine', monospace;
	font-size: 0.95rem;
}
code strong, pre strong {
	font-weight: 700;
}
pre {
	display: block;
	margin-top: 10px;
	padding: 10px 10px 8px 10px;
}
code {
	display: inline-block;
	margin: 0 2px;
	padding: 2px 5px 0 5px;
}

section + section {
	padding-top: 80px;
}

/* Site Header */
header {
	padding: 20px;
	color: white;
	background: linear-gradient(to top left, #73D742, #0AC184);
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: center;
}

header h1 {
	padding: 5vh 0;
}
header h1 .hidden {
	display: block;
	height: 0;
	overflow: hidden;
	text-indent: -200vw;
}

header svg {
	display: block;
	margin: auto;
}
header svg path {
	fill: white;
}

header p {
	max-width: 600px;
	margin: auto;
	font-size: 1.5rem;
}

header .buttons {
	padding: 20px 0 5vh 0;
	display: flex;
	justify-content: center;
}
header .buttons a {
	display: block;
	margin: 5px 10px;
	padding: 12px 20px;
	background: white;
	border-radius: 8px;
	font-weight: 600;
	text-decoration: none;
	color: #1d9153;
	transition: all 60ms ease-in-out;
	box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.1);
}
header .buttons a:hover {
	background: #1f9e5a;
	color: white;
}


/* Main Content */
main {
	max-width: 640px;
	margin: auto;
	padding: 5vh 20px;
}

/* Footer */
footer {
	padding-bottom: 20px;
	text-align: center;
}

footer p {
	font-size: 0.8rem;
	color: #7a887c;
}
footer p + p {
	padding-top: 2px;
}

footer a {
	color: #7a887c;
}
